* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	user-select: none;
}

body {
	background-color: black;
	color: #fff;
	font-family: "Open sans", Sans-serif;
	font-size: 15px;
	letter-spacing: 2px;
}

/* btn hover effect */

.backbtn {
	padding: 10px;
	display: flex;
	color: deepskyblue;
	border-left: 2px solid crimson;
	margin: 5px;
	font-size: 12px;
	cursor: pointer;
	margin-bottom: 30px;
}

@media only screen and (min-width: 1000px) {
	.backbtn:hover {
		color: crimson;
		border-left: 2px solid deepskyblue;
	}
}


img {
	width: 15vw;
	height: 100%;
	border-radius: 50%;
}

.profile-picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	height: auto;
	max-width: 300px;
}

.profile-name {
	text-align: center;
	padding: 20px;
	color: crimson;
}

.links {
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid deepskyblue;
	border-width: 2px;
	border-radius: 40px;
	width: 290px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: crimson;
	transition: color 0.4s;
}

.bottom-text {
	text-align: center;
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 40px;
	padding: 10px 0 5 10px;
	color: chocolate;
}

a:hover {
	color: black;
	background-color: deepskyblue;
}